<div class="row"> 
  <%= render partial: "signout" %> 
</div>  



<% if current_user %> 
  <% if current_user.is_guest? == false %> 
    <%= render partial: "user_image" %>
  <% end %>
<% end %>

<div class="row">
  <%= render partial: "pametni" %>
  <% if current_user %>
    <%= render partial: "pitanja" %>  
  <% else %> 
    <%=render partial: "facebook" %>
  <% end %> 
  <%= render partial: "nelogovani" %>
</div>

