<div class="row"> 
  <%= render partial: "signout" %> 
</div>  


<div id="seprow1" class="row">
</div>


<div class="row zdravo ">
  <% if current_user %>
    <h3 id="poruka"> <%= current_user.poruka %></h3>
  <% end %>
</div> 

<div class="row user_image ">
  <% if current_user %>
    <%= image_tag current_user.image %>  
  <% end %>
</div> 

<div id="seprow2" class="row">
</div>


<%= render partial: "pametni" %>

<% if current_user %>
  <div class="row pitanja">
    <% if current_user.tacno(1) == nil %>
      <button id="marta" class="btn btn-lg btn-primary bquest ">Martino pitanje <span class="glyphicon glyphicon-question-sign"></span></button>
    <% end %>
    <% if current_user.tacno(2) == nil %>
      <button id="klara" class="btn btn-lg btn-primary bquest ">Klarino  pitanje <span class="glyphicon glyphicon-question-sign"></span></button>
    <% end %>  
  </div>
<% else %> 
   <%= button_to "Sign in with Facebook", "/auth/facebook",:class => "btn-lg btn-primary mbtn"  %>
<% end %> 

<div id="nelogani"> 
  <%= User.nelogovan %> 
</div> 

<h4>Heroji</h4>
<% @heroji.each do |hero| %>
  <%= image_tag "#{hero[:image]}"  %> 
<% end %>
