<div class="row"> 
  <%= render partial: "signout" %> 
</div>  


<div id="seprow1" class="row">
</div>


<div class="row zdravo ">
  <%= render partial: "poruka"%>
</div> 
<%= render partial: "user_image" %>


<div id="seprow2" class="row">
</div>


<%= render partial: "pametni" %>

<% if current_user %>
  <%= render partial: "pitanja" %>  
<% else %> 
  <%=render partial: "facebook" %>
<% end %> 

<%= render partial: "nelogovani" %>


