
<audio id="muzika">
  <source src="<%= asset_path("muzika.mp3") %>"> type="audio/mp3">
</audio>
<video poster="<%= image_path('poster.png')%>" width="200" height="200" name="Video Name" id="bgvid"  src="<%= asset_path("ginko.mp4") %>" ></video>


<div class="container ball">

  <div class="page_1">
    <div class="row bmain">

      <span class="col-md-2 col-xs-0 hidden-xs hidden-sm  bleft"> 
        <%= image_tag "marta_500.png",id: "mimage"  %>
      </span>

      <span class="col-md-0 col-sm-12 hidden-xs hidden-md hidden-lg  bleft"> 
        <%= image_tag "polukonf.png",id: "mimage"  %>
      </span>

      
      <span class="col-md-0 col-xs-12 hidden-md hidden-lg hidden-sm  bleft"> 
        <%= image_tag "maleobe.jpg",id: "mimage"  %>
      </span>

      <span class="col-md-8 bmiddle">
        <%= render partial: "bnaslov" %>
        <%= render partial: "middlecol" %>	
      </span> 

      <span class="col-md-2 hidden-xs hidden-sm bright">
        <%= image_tag "kjara_500.png",id: "kimage"  %>
      </span> 


    </div>

    <div class="row balon">
      <span class="col-md-12">
        <%= image_tag "balon.png",id: "balon_id"  %><br/>
        Da li ste se okušali i u ovim književnim avanturama? 
      </span>
    </div>

 </div> 

 <%= render partial: "carousel" %>
    <div class="row laguna"> 
	<a href="http://www.laguna.rs"><%= image_tag "laguna_logo.png", id: "laguna_logo",width: "100px"  %></a></br>
    </div> 
</div>      
