<div class="container">
  <div id="toprow" class="row">     
    <%= render partial: "toprow" %>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1" >
      <div class="row main">
	<div class="row bnaslov">     
	  <%= render partial: "bnaslov" %>
	</div>
	<div class="row">
	  <span class="col-md-2 bleft"> 
	  </span>
	  <span class="col-md-8 bmiddle">
            <%= render partial: "middlecol" %>	
	  </span> 
	  <span class="col-md-2 bright"> 
	  </span> 
	</div>
      </div>
    </div>

    <div class="tab-pane" id="tab2">
      <div class="jumbotron">
	<%= image_tag "Uros_Petrovic01.jpg"%><h1>Урош Петровић</h1>
	<p>
Од 1975. године живи у Београду. Аутор је романа фантастике и загонетних прича. Карактеристичан је по иновативном приступу књижевности за децу и младе. Објављивао приче, чланке, песме, илустрације и фотографије у већем броју летописа, дневних новина, часописа и антологија. Од 2008. до 2013. председник Менсе Србија. Оснивач Менсиног светског фото купа. Коаутор је програма "НТЦ Систем учења", који подстиче развој функционалног знања и креативног начина размишљања, гостује као предавач на факултетима, у школама и другим образовним установама у земљи и иностранству.
</p>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <ul class="row">
	<% @knjige.each do |book| %>
	  <li>
	  <div class="col-sm-6 col-md-4">
	     <div class="thumbnail">
	      <%= image_tag book.image,  :style=>"" %> 
	      <div class="caption">
	        <h3><%= book.naslov %></h3>
	        <p> <%= book.desc %> </p>
	        <p>
		<a href="<%= book.link %>"  class="btn">
		  Laguna
		</a></p>
	       </div>
	     </div>
          </li>
	<% end %>  
      </ul>
    </div> 	 

  </div>
</div>

