<div class="container ball">
  <div class="row bmain">
    <span class="col-md-2 col-xs-0 hidden-xs bleft"> 
      <%= image_tag "marta_500.png",id: "mimage"  %>
    </span>
    <span class="col-md-8 bmiddle">
      <%= render partial: "bnaslov" %>
      <%= render partial: "middlecol" %>	
    </span> 
    <span class="col-md-2 hidden-xs bright">
      <%= image_tag "kjara_500.png",id: "kimage"  %>
    </span> 
    <%= render partial: "carousel" %>
  </div>

</div>

