/* refactor this */
function showBadAnswer(num){
    if ( num === 1 ){
	showBadAnswerMarta();
    } else 
    { 
	showBadAnswerKjara();
    }
}

function showBadAnswerMarta(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>To nije pravo rešenje!</h2><br />");
        $textAndPic.append('<%= image_tag "marta_500.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Obaveštenje o netačnom rešenju.',
            onshown: function(dialogRef){
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    message: $textAndPic,
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};

function showBadAnswerKjara(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>To nije pravo rešenje!</h2><br />");
        $textAndPic.append('<%= image_tag "kjara_500.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Obaveštenje o netačnom rešenju.',
            onshown: function(dialogRef){
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    message: $textAndPic,
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};

function showGoodAnswerMarta(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>Bravo!</h2><h2>To je pravo rešenje Martine Zagonetke!</h2><h2> Čuvajte tajnu ! </h2><br />");
        $textAndPic.append('<%= image_tag "marta_500.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Bravo!!',
	    message: $textAndPic,
            onshown: function(dialogRef){
		    $('#bgvid')[0].play();
		    $('#muzika')[0].play();
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};

function showGoodAnswer(num) {
    if(num === 1){
	showGoodAnswerMarta();
    } else {
	showGoodAnswerKjara();
    }
}

function showGoodAnswerKjara(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>Bravo! To je pravo rešenje Kjarine Zagonetke! Čuvajte tajnu ! </h2><br />");
        $textAndPic.append('<%= image_tag "kjara_500.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Bravo!!',
	    message: $textAndPic,
            onshown: function(dialogRef){
		    $('#bgvid')[0].play();
		    $('#muzika')[0].play();
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};


function showPitanje(num) {
    if (num === 1 ) {
	showPitanjeMarta(1);
    }
    else {
	showPitanjeKjara(2);
    }
}

function showPitanjeKjara(num){
    $.ajax({
	url: '/pitanjas/' + num,
	data: { pitanje: num },
	type: 'get'}).
	done( function(data) {
	    var $textAndPic = $('<div id="dialog-body"></div>');
	    $textAndPic.append("<h2>" +data.pitanje+ '</h2><br />');
	    $textAndPic.append('<%= image_tag "kjara_500.png", :id => "dlg-pic" %>');
	    $textAndPic.append('<input id="odg" class="pitanjecl form-control" type="text" name="odgovor">');
	    BootstrapDialog.show({
		title: 'Kjarina Zagonetka',
		onshown: function(dialogRef){
		    $('#odg').focus();
		    $("#odg").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
		message: $textAndPic,
		cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			$.ajax({
			    url:'/odgovor',
			    type: 'GET',
			    data: { odgovor: $('#odg').val(),
				    pitanje: num}
			} ).
			    done( function(data){
			      $('#poruka').text(data.poruka);
			      if (data.pitanje == 1 && data.rez === 'ok'){
				  $('#pametni1').text(data.tacno);
				  $('#marta').hide();
				  
			      }
			      if (data.pitanje == 2 && data.rez === 'ok'){
				  $('#pametni2').text(data.tacno);
				  $('#klara').hide();
				
			      }
				
			      if (data.rez === 'not ok'){
				  showBadAnswer(num);
				  if(data.no_more  === 1 ) {
				      $('#kjara_but').html('<button id="klara_dis" class="btn btn-lg btn-disabled mbtn ">Pokušajte sutra</button>');
				  }
			      } else {
				  showGoodAnswer(num);
			      }
				  
		    });
                    dialogRef.close();
                    }
            }]
        });
});
        
};
function showPitanjeMarta(num){
    $.ajax({
	url: '/pitanjas/' + num,
	data: { pitanje: num },
	type: 'get'}).
	done( function(data) {
	    var $textAndPic = $('<div id="dialog-body"></div>');
	    $textAndPic.append("<h2>" +data.pitanje+ '</h2><br />');
	    $textAndPic.append('<%= image_tag "marta_500.png", :id => "dlg-pic" %>');
	    $textAndPic.append('<input id="odg" class="pitanjecl form-control" type="text" name="odgovor">');
	    BootstrapDialog.show({
		title: 'Martina Zagonetka',
		onshown: function(dialogRef){
		    $('#odg').focus();
		    $("#odg").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
		message: $textAndPic,
		cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			$.ajax({
			    url:'/odgovor',
			    type: 'GET',
			    data: { odgovor: $('#odg').val(),
				    pitanje: num}
			} ).
			    done( function(data){
			      $('#poruka').text(data.poruka);
			      if (data.pitanje == 1 && data.rez === 'ok'){
				  $('#pametni1').text(data.tacno);
				  $('#marta').hide();
				  
				  
			      }
			      if (data.pitanje == 2 && data.rez === 'ok'){
				  $('#pametni2').text(data.tacno);
				  $('#klara').hide();
			      }
				
			      if (data.rez === 'not ok'){
				  showBadAnswer(num);
				  if(data.no_more  === 1 ) {
				      $('#marta_but').html('<button id="marta_dis" class="btn btn-lg btn-disabled mbtn ">Pokušajte sutra</button>');
				  }
			      } else {
				  showGoodAnswer(num);
			      }
				  
		    });
                    dialogRef.close();
                    }
            }]
        });
});
        
};

  $(document).ready(function() {  
    $('.carousel').carousel({
      interval: 0
    });
    $('#marta').click(function(){
	showPitanje(1);
	});
    $('#klara').click(function(){
	showPitanje(2);
	});

      $(document).ajaxSend(function(event, request, settings) {
    if ( settings.type == 'POST' ||  settings.type == 'post') {
        settings.data = (settings.data ? settings.data + "&" : "")
            + "authenticity_token=" + encodeURIComponent( window._token );
    }
      });


  });

   
